<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kohgylw.mapper.SysAuthMemberauthtableMapper">
  <resultMap id="BaseResultMap" type="kohgylw.model.SysAuthMemberauthtable">
    <result column="memberauthtable_id" jdbcType="VARCHAR" property="memberauthtableId" />
    <result column="memberinfo_id" jdbcType="VARCHAR" property="memberinfoId" />
    <result column="authinfo_id" jdbcType="VARCHAR" property="authinfoId" />
  </resultMap>
  <insert id="insert" parameterType="kohgylw.model.SysAuthMemberauthtable">
    insert into sys_auth_memberauthtable (memberauthtable_id, memberinfo_id, 
      authinfo_id)
    values (#{memberauthtableId,jdbcType=VARCHAR}, #{memberinfoId,jdbcType=VARCHAR}, 
      #{authinfoId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="kohgylw.model.SysAuthMemberauthtable">
    insert into sys_auth_memberauthtable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberauthtableId != null">
        memberauthtable_id,
      </if>
      <if test="memberinfoId != null">
        memberinfo_id,
      </if>
      <if test="authinfoId != null">
        authinfo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberauthtableId != null">
        #{memberauthtableId,jdbcType=VARCHAR},
      </if>
      <if test="memberinfoId != null">
        #{memberinfoId,jdbcType=VARCHAR},
      </if>
      <if test="authinfoId != null">
        #{authinfoId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryByMemberAndAuth" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT * FROM sys_auth_memberauthtable where memberinfo_id=#{memberinfoId,jdbcType=VARCHAR} and authinfo_id=#{authinfoId,jdbcType=VARCHAR}
  </select>
</mapper>